// Base class
//
// styling for bare HTML elements
// These come with default styling from the browser so we can redefine them here

body {
  background-color: $white;
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style: none;
  padding: 0;
}
